.left-thumb a
  float: left
  margin-right: 15px

.right-thumb a
  float: right
  margin-left: 15px

.post-title
  text-align: center

article.post
  background-color: $bg-grey
  padding: 20px
  margin-top: 30px
  border-radius: 5px

.page-archive a
  color: $accent-color

.cat-links a
  color: #ffffff
  padding: 4px
  border-radius: 5px

.category-fin-in_progress
  background-color: $gold
  &:hover,
  &:focus,
  &:active
    border-bottom: 0
    background-color: darken($gold, 10)

.category-fin-misc
  background-color: $green
  &:hover,
  &:focus,
  &:active
    border-bottom: 0
    background-color: darken($green, 10)

.category-fin-work
  background-color: $purple
  &:hover,
  &:focus,
  &:active
    border-bottom: 0
    background-color: darken($purple, 10)




.entry-content h2
  display: inline

.spacer
  height: 85px
  font-size: 48px



.spacer h1
  text-align: center

@media (max-width: 730px)
  .spacer h1
    font-size: 0.9em


@media (max-width: 680px)
  .spacer h1
    font-size: 0.7em


@media (max-width: 580px)
  .spacer h1
    font-size: 0.6em
