.post-image-wrap
  position: relative
  display: flex
  justify-content: center

.text-cover
  position: absolute
  width: 100%
  height: 20%
  top: 40%
  color: white
  margin: 0
  display: flex
  justify-content: center
  flex-direction: column
  font-size: 54px

.single-work-post h1.entry-title
  text-align: center
  color: white
  margin: 0

@media(max-width:500px)
  .single-work-post h1.entry-title
    font-size: 0.8em

@media(max-width:400px)
  .single-work-post h1.entry-title
    font-size: 0.6em

.post-thumbnail
  width: 100%

.post-thumbnail img
  margin: 0 auto
  display: block
  z-index: -1

.cat-links
  font-size: 12px
  margin-right: 10px

.cat-links a
  color: $accent-color

time
  font-weight: 400
  padding-left: 4px
  color: $accent-color
  font-size: 16px


.fa-clock
  font-size: 15px
  color: $accent-color

.single-work-post .container
  padding-top: 20px
  max-width: 800px
