.grid-container
  margin-top: 100px
  margin-bottom: 100px
  width: auto
  grid-gap: 10px
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: auto auto
  grid-template-areas: "profile" "about" "work"
  align-items: center
  justify-content: center

.grid-item1
  position: relative
  grid-area: profile

.grid-item2
  position: relative
  grid-area: about

.grid-item3
  position: relative
  grid-area: work

@media (min-width:500px)
  .grid-container
    grid-template-areas: "about profile" "about work"

  .grid-left
    left: $hex-width/8
    justify-self: end

  .grid-right
    left: $hex-width/-8
    justify-self: start
