// navigation

/* main nav */

.main-navigation {
	padding-top: 20px;
	background-color: transparent;

}

.main-navigation ul {
	display: block;
	opacity: 1;
}

.main-navigation {
 padding-right: 15px;
 display: block;
 float: right;
}

.main-navigation ul {
  display: block;
  opacity: 1;
  list-style: none;
  margin: 0;
  padding-left: 0;
  transition: all .2s ease-in-out;
}


.main-navigation li {
  float: left;
  position: relative;
	line-height: inherit;
}

.main-navigation a {
	position: relative;
	display: block;
	text-decoration: none;
  font-weight: 700;
  font-size: 18px;
	margin-left: 20px;

  color: $nav-link-white;

}


.main-navigation a:hover,
.main-navigation a:focus {
  border-bottom: solid $neon-green;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
border-bottom: solid $neon-green;

}

.main-navigation ul ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 20px;
	line-height: 30px;
	background-color: $charcoal;
	margin-left: 0.8em;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right:20px;
	width: auto;
	border-radius: 0 0 5px 5px;
	z-index: -1;
	transform: translateY(-20px);
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.main-navigation ul ul a {
	border-bottom: 3px solid $charcoal;
}

.main-navigation ul :hover > ul {
	opacity: 1;
	z-index: 1;
	transform: translateY(0%);
	top: 20px;
	transition-delay: 0s,0s,0.3s;
	visibility: visible;
}

.sub-menu li a{
	margin-left: 0;
	white-space: nowrap;
}

@media screen and (max-width: 860px) {
   .menu-toggle,
   .main-navigation.toggled .nav-menu {
      display: block;
   }
   .main-navigation ul{
       display:none;
   }
   .main-navigation :hover ul {
      display: block;
   }
	 .main-navigation ul ul {
	 	visibility: visible;
	 	opacity: 1;
	 	position: relative;
		top: 0;
	 	line-height: 30px;
	 	background-color: transparent;
	 	margin-left: 0.8em;
		padding: 0;
	 	padding-bottom: 10px;
	 	padding-top: 10px;
	 	padding-left: 20px;
	 	padding-right:20px;
	 	width: auto;
	 	border-radius: 0 0 5px 5px;
	 	z-index: 1;


	 }

	 .main-navigation ul ul a {
	 	border-bottom: 3px solid $accent-color-2;
		decoration: none;
	 }

	 .main-navigation ul :hover > ul {
	 	opacity: 1;
	 	z-index: 1;
		top: 0;
	 	transform: translateY(-20px);

	 	visibility: visible;
	 }

}

/* Small menu. menu button toggle */

.menuBtn-icon-line01, .menuBtn-icon-line03 {
  margin: 0 auto;
}

.menuBtn-icon-line02 {
    margin: 4px auto; }

.menuBtn-icon-line01, .menuBtn-icon-line02, .menuBtn-icon-line03 {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff; }

.menuBtn-icon-line01, .menuBtn-icon-line02, .menuBtn-icon-line03 {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }


.menuBtn-icon {
    display: inline-block;
    width: 26px;
    vertical-align: middle;
}

#site-navigation:hover {
	cursor: pointer;
}

.main-navigation.toggled .menuBtn-icon:hover > .menuBtn-icon-line02 {
	background-color: transparent;
}

.main-navigation.toggled .menuBtn-icon:hover > .menuBtn-icon-line01 {
	transform: translateY(280%) translateX(0%) rotate(45deg);
}

.main-navigation.toggled .menuBtn-icon:hover > .menuBtn-icon-line03 {
	transform: translateY(-280%) translateX(0%) rotate(-45deg);
}



.menu-toggle {
  float: right;

}

.menu-toggle,
.main-navigation.toggled ul {
  color: white;

}

.main-navigation.toggled ul {
	display: block;
  margin: 0 auto;
	width: 180px;
  opacity: 1;
  transition: all .2s ease-in-out;
  clear: both;
}

.main-navigation.toggled ul li {
	display: block;
}

.main-navigation.toggled {
	width: 100%;
	margin: 0 auto;
  height: 100vh;
	transition: all .2s ease-in-out;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	display: block;
}




	.menu-toggle {
		display: none;
	}




/* Small menu. only */

@media screen and (max-width: 860px) {

	.menu-toggle {
		display: block;
	}

	#site-navigation.main-navigation.toggled {
		background: $accent-color-2;

	}

	.menuBtn-icon   {
	    display: block;
	    width: 22px;
			padding-top: 11px;

	}
	.menuBtn-icon-line01, .menuBtn-icon-line02, .menuBtn-icon-line03 {
	  background-color: white; }

	.main-navigation ul {
		display: none;
    opacity: 0;
	}

.main-navigation {
	position: absolute;
  top: 0;
  right: 0;
	padding-right: 0px;
	display: block;
	padding-top: 6px;
	height: 52px;
  background-color: transparent;
}


.main-navigation a {
  float: left;
  opacity: 1;
  font-weight: 700;
  font-size: 30px;
	color: #ffffff;
  margin-right: 16px;
  margin-top: 8px;
	transition: all .2s ease-in-out;

}


.main-navigation li {
  top: 20px;
}

.main-navigation a:hover{
  border-bottom: none;
	color: #fff;

}


.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
border-bottom: solid 1px #fff;
color: #fff;
}




.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
}
