// logo, site-title, site-description
.wrap-header

  height: 100px
  position: relative

.site-branding
  display: block
  float: left
  width: 160px
  padding-top: 0px
  padding-left: 0px
  position: absolute
  top: 47px

.site-branding a

  &:hover,
  &:focus,
  &:active

    border-bottom: solid 0px $color__link-hover


.lead-section
  padding-top: 10px
  margin-left: 160px
  max-width: 572px
  font-size: 48px

h1.lead
  margin-top: 12px
  margin-bottom: -5px
  text-align: right

.sub-lead
  text-align: right
  font-size: 0.5em

.site-title, .site-description
  display: none

@media (max-width: 730px)
  h1.lead
    font-size: 0.9em
  .sub-lead
    font-size: 0.4em

@media (max-width: 680px)
  h1.lead
    font-size: 0.7em
  .sub-lead
    font-size: 0.4em

@media (max-width: 580px)
  h1.lead
    font-size: 0.6em
  .sub-lead
    font-size: 0.3em

/* larger than tablet - with hamburger icon off and larger logo */

@media (max-width: 500px)
  .lead-section
    margin-left: 120px
  h1.lead
    font-size: 0.5em
  .sub-lead
    font-size: 0.3em
  .site-branding
    width: 120px
    padding-top: 0px
    padding-left: 0px
    top: 37px

@media (max-width: 450px)
    .site-branding
      width: 80px
      padding-top: 0px
      padding-left: 0px
      top: 37px
